@model List<OnlineFoodOrderingDemo.Models.MenuItem>

<div class="container text-center">
	<h2 class="mt-4">🍜 菜單</h2>

	<table class="table table-bordered table-striped mt-4">
		<thead>
			<tr>
				<th>品項</th>
				<th>介紹</th>
				<th>價格</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Name</td>
					<td>@item.Description</td>
					<td>@item.Price 元</td>
					<td>
						<a href="@Url.Action("AddToCart", "Menu", new { id = item.Id })" class="btn btn-sm btn-success">加入購物車</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
